<div class="mb-4">
  <h>Why You Should Groom Your Cat</h>

  <div class="row">
    <web-card
      class="col-sm-4"
      heading="One Can Put no Price on Health"
      paragraph="Regular grooming helps keep your cat's coat in good condition. Brushing removes loose hair, prevents matting, and distributes natural oils, leading to a healthier and shinier coat. It also reduces the chances of hairballs, which can be a common issue in cats."
    ></web-card>
    <web-card
      class="col-sm-4"
      heading="A Well Groomed Cat is a Sight to See"
      paragraph="Groomed cats have a noticeable aesthetic appeal due to their well-maintained appearance. When a cat is regularly groomed, their coat is clean, free from tangles and mats, and has a healthy shine. A groomed cat's fur is soft to the touch, which adds to their visual appeal."
    ></web-card>
    <web-card
      class="col-sm-4"
      heading="Petty Neighbours Will Be Jealous"
      paragraph="As you parade down the street with your cat, heads will turn, jaws will drop, and neighbors will be green with jealousy. The mere sight of your cat's lustrous, flowing coat will have them questioning their life choices and running to their own furballs, begging them to step up their grooming game."
    ></web-card>
  </div>
</div>
