<div class="row">
  <div class="col-sm-6 mx-auto mb-4">
    <h>Custom Grooming Experience</h>
    <p class="text-center">
      At Cat Grooming Company, we understand that each cat is unique and has
      specific grooming requirements. Our dedicated team of professional groomers
      is committed to providing a personalized grooming experience tailored to
      meet your cat's individual needs. With our expertise and gentle approach, we
      ensure that your feline companion receives the utmost care and attention
      during their grooming session.
    </p>
  </div>
</div>
