name: push
on:
  push:
    branches: [ main ]
jobs:
  test-build-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.5.0'
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies 
        run: npm ci
      - name: Run tests 
        run: npm run test
      - name: Upload Test Coverage
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage
          path: coverage/libs/ngx-dynamic-headings
      - name:  Build ngx-dynamic-headings lib
        run: npm run build:ngx-dynamic-headings
      - name: Upload Build Folder
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: ./dist/libs/ngx-dynamic-headings
      - name: Zip assets
        run:  | 
         zip -r build.zip ./dist/libs/ngx-dynamic-headings
         zip -r coverage.zip coverage/libs/ngx-dynamic-headings
      - name: Create a Release
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.DH_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish to npm
        run: |
          cd ./dist/libs/ngx-dynamic-headings
          npm publish